body {
    font-family: 'Play', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-attachment: fixed;
    background-position: center;
    background-image: url("../assets/latios.jpeg");
    color: black;
    background-size: contain;
}

h1 {
    box-shadow: 1px 2px 1px 1px rgba(78, 64, 64, 0.349);
}

h2 {
    box-shadow: 1px 2px 1px 1px rgba(78, 64, 64, 0.349);
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25%;
    cursor: pointer;
    transition: 0.3s;
    opacity: 0.7;
}

.button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button:hover {opacity: 1}

.gif {
    width: 230px;
    height: auto;
}
