body {
    font-family: 'Play', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-attachment: fixed;
    background-position: center;
    background-image: url("../assets/latios.jpeg");
    background-color: papayawhip;
    color: black;
    background-size: contain;
};

h1 {
    box-shadow: 1px 4px 1px 1px rgba(78, 64, 64, 0.349);
}

h2 {
    box-shadow: 1px 4px 1px 1px rgba(78, 64, 64, 0.349);
}

.gif {
    width: 230px;
    height: auto;
}