body {
    font-family: 'Play', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(110, 110, 108);
}

h1 {
    font-family: 'Press Start 2P', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form-div, #switch-form-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

img {
    width: 150px;
    height: 150px;
}

#battle-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid black;
    margin-left: 33vw;
    margin-right: 33vw;
    box-shadow: 10px 10px 2px 1px rgba(16, 13, 13, 0.349);
    background-image: url('https://cdn.wallpapersafari.com/85/89/6lOBvr.png');
}

#computer-pokemon {
    margin-left: 20vw;
    margin-top: 5vw;
}

#comp-image {
    animation: bounce .5s;
    animation-iteration-count: 1;
}

@keyframes bounce {
    80% { transform:translateY(-15%); }
    90% { transform:translateY(0%); }
    95% { transform:translateY(-7%); }
    97% { transform:translateY(0%); }
    99% { transform:translateY(-3%); }
    100% { transform:translateY(0); }

}

#player-image {
    animation: bounce .5s;
    animation-iteration-count: 1;
}

#player-pokemon {
    margin-top: 1vw;
    margin-right: 15vw;
    margin-bottom: 1vw;
    
}


input + span {
    border: 3px solid black;
    margin-left: 3px;
    margin-right: 3px;
    padding: 3px;
    text-transform: uppercase;
    box-shadow: 3px 3px 1px 1px rgba(48, 40, 40, 0.527);
    background-color: rgb(248, 242, 218);
}


input[type = "radio"] {
    display: none;
}

input:checked + span {
    background-color: #1a1919;
    color: rgb(250, 247, 240);
    font-weight: bold;
}

.hidden {
    display: none;
}

footer {
    font-size: 9.5pt;
    margin-right: 90%;
}
