body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Play', sans-serif;
    background-color: rgb(228, 227, 225);
}

p {
    width: 25vw;
}

#brevan-div, #chase-div, #ckay-div, #james-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2vw;
    font-size: 1rem;
    animation: fadeIn linear 5s;
    font-size: 11pt;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}


h3, h1 {
    font-size: 1.7rem;
    color: rgba(0, 0, 0, 0.788);
}

/* h1 {
    color: rgba(0, 0, 0, 0.322);
} */

img {
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
}


#brevan {
    opacity: 80%;
    width: 130px;
    height: 120px;
    padding-right: 1rem;
}

#chase {
    opacity: 80%;
    width: 120px;
    height: 125px;
    padding-left: 1rem
}

#ckay {
    opacity: 80%;
    width: 135px;
    height: 135px;
    padding-right: 1rem;
}

#james {
    opacity: 80%;
    width: 85px;
    height: 140px;
    padding-left: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    
}

#top, #bottom {
    display: flex;
}

#gif1 {
    margin-left: 150px;
    width: 80px;
    height: 80px;
}

#gif2 {
    margin-left: 120px;
    width: 65px;
    height: 65px;
}

#gif3 {
    margin-left: 120px;
    width: 100px;
    height: 100px;
}

#gif4 {
    margin-left: 110px;
    width: 85px;
    height: 85px;
}

h6 {
    color: rgba(73, 72, 72, 0.144);
}