#pokemon-form {
    line-height: 50px;
    font-family: 'Play', sans-serif;
    width: fit-content;
    display: flex;
    flex-flow: row;
    align-items: baseline;
    flex-wrap: wrap;
    margin: auto;
}

#description {
    border: 1px solid black;
    padding: 10px;
    font-family: 'Play', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    justify-content: center;
    margin: auto;
}

button {
    width: min-content;
    margin-top: 10px;
    padding: 10px;
    font-family: 'Play', sans-serif;
}

#bottom {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-family: 'Press Start 2P', sans-serif;
}

img {
    /* width: 120px;
    height: 120px; */
}