#pokemon-form {
    font-family: 'Play', sans-serif;
    width: fit-content;
    display: flex;
    flex-flow: row;
    align-items: baseline;
    flex-wrap: wrap;
    margin: auto;
}

#description {
    border: 1px solid rgba(0, 0, 0, 0.623);
    padding: 10px;
    font-family: 'Play', sans-serif;
    margin-bottom: 50px;
    color: rgba(0, 0, 0, 0.781);
}

body {
    background-color: rgb(228, 227, 225);
}
header {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    justify-content: center;
    margin: auto;
}

input[type=radio] {
    display: none;
}
button {
    width: min-content;
    margin-top: 50px;
    padding: 7px;
    font-family: 'Play', sans-serif;
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: auto;
    line-height: 50px;
}

h1 {
    font-family: 'Press Start 2P', sans-serif;
}

img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

input:checked + img {
    /* border: 1.5pt solid rgba(238, 71, 71, 0.87); */
    animation: bounce 1.5s;
    animation-iteration-count: 1;
    box-shadow: 1px 2px 2px 1px rgba(85, 64, 65, 0.349)
}

@keyframes bounce {
    80% { transform:translateY(-15%); }
    90% { transform:translateY(0%); }
    95% { transform:translateY(-7%); }
    97% { transform:translateY(0%); }
    99% { transform:translateY(-3%); }
    100% { transform:translateY(0); }
}

h5 {
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: auto;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 6pt;
    color: rgba(29, 28, 28, 0.877);
}

a:link, a:visited {
    background-color: whitesmoke;
    color: black;
    border: 2px solid black;
    padding: 1px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 2rem;
}
  
a:hover, a:active {
    background-color: tomato;
    color: white;
}